@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

.serial-monitor-div {
    font-family: 'Fira Code', monospace;
    display: flex;
    flex-direction: column-reverse;
}